/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

a {
  text-decoration: none;
  color: inherit; }

button {
  background-color: transparent;
  border: none; }

* {
  box-sizing: border-box; }

body,
html {
  font-family: 'TTNorms',sans-serif;
  font-size: 10px; }

:root {
  --color-main:#323264;
  --color-main-alt:#46466E;
  --color-main-soft:#686887;
  --color-accent:#F0145A;
  --color-active-regular:#24A3FF;
  --color-active-hover:#0085FF;
  --color-active:#006CCF;
  --color-bg:#F5F5FA;
  --color-bgalt:#EDEDF7;
  --color-text:#B3B3BA;
  --color-separator:#E6E6F0;
  --gradient-main:linear-gradient(128.63deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
  --gradient-soft:linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
  --gradient-red:linear-gradient(121.42deg, #F0145A 30.65%, #693264 107.33%);
  --gradient-supersoft:linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  --gradient-redtext:linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%); }

.container {
  width: 1320px;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 1320px) {
    .container {
      width: 1200px; } }
  @media (max-width: 1200px) {
    .container {
      width: 95%; } }
  @media (max-width: 767px) {
    .container {
      width: 95%; } }

.title {
  font-size: 4.2rem;
  line-height: 1.19048;
  font-weight: 700;
  background: var(--gradient-redtext);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
  @media (max-width: 767px) {
    .title {
      font-size: 3.2rem;
      line-height: 1.18; } }

.head__link {
  font-size: 1.4rem;
  line-height: 1.21429;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-active-regular);
  margin-bottom: 3px; }

.gradient {
  background-image: var(--gradient-supersoft);
  border-radius: 0 0 12px 12px;
  position: relative; }
  .gradient::before {
    content: '';
    display: block;
    width: 96%;
    height: 10px;
    background-color: #E7E7F2;
    border-radius: 0 0 12px 12px;
    position: absolute;
    bottom: -25px;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  @media (max-width: 767px) {
    .gradient::before {
      width: 92%; } }

.hero {
  min-height: 100vh;
  background-image: var(--gradient-soft);
  color: #FFFFFF;
  display: flex;
  flex-direction: column; }

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px; }
  @media (max-width: 767px) {
    .header__container {
      flex-direction: column;
      align-items: stretch; } }

@media (max-width: 767px) {
  .header__logo {
    width: 78px;
    position: absolute;
    margin-top: -30px; } }

.header__content-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 16px; }
  @media (max-width: 767px) {
    .header__content-row {
      order: 1;
      margin-bottom: 10px; } }

@media (max-width: 767px) {
  .logo {
    order: 2; } }

.lang {
  display: flex; }

.lang__input {
  -webkit-appearance: none;
  position: absolute; }
  .lang__input:checked ~ .lang--txt {
    background-color: var(--color-accent);
    color: white; }

.lang--txt {
  font-size: 1.2rem;
  line-height: 1.16;
  font-weight: 700;
  display: block;
  padding: 5px 6px;
  border-radius: 8px; }
  @media (max-width: 767px) {
    .lang--txt {
      color: var(--color-text); } }

.header__list {
  display: flex;
  justify-content: flex-end;
  gap: 15px; }
  @media (max-width: 767px) {
    .header__list {
      flex-direction: column;
      gap: 10px;
      margin-top: 20px; } }

.header__link {
  font-size: 1.8rem;
  line-height: 1.16667; }

.header_tel-link {
  font-size: 1.6rem;
  line-height: 1.18;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  gap: 5px; }
  .header_tel-link::before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50px;
    background-color: var(--color-separator); }
  @media (max-width: 767px) {
    .header_tel-link {
      color: var(--color-text); }
      .header_tel-link::before {
        display: none; } }

.header__fb-link {
  display: inline-flex;
  align-items: center;
  gap: 14px; }
  .header__fb-link::before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50px;
    background-color: var(--color-separator); }
  @media (max-width: 767px) {
    .header__fb-link {
      display: none; } }

.header__content-text {
  font-size: 1.6rem;
  line-height: 1.18;
  font-weight: 400; }
  @media (max-width: 767px) {
    .header__content-text {
      display: none; } }

.hero__content {
  display: flex;
  flex-grow: 1;
  background-image: linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%), url("../img/symbolLogo.svg"), url("../img/bg.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 200px, auto, auto; }
  @media (max-width: 767px) {
    .hero__content {
      background-image: linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%), url("../img/symbolLogo.svg"); } }

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.hero__content-title {
  font-size: 3.8rem;
  line-height: 1.05263;
  text-align: center; }

.hero__content-link {
  text-align: center; }

.hero__content-image {
  position: absolute;
  bottom: 0; }

.header__menu {
  display: none; }
  @media (max-width: 767px) {
    .header__menu {
      display: block; } }

@media (max-width: 767px) {
  .header__nav {
    position: relative;
    display: flex;
    justify-content: flex-end; }
    .header__nav:hover .header__navigation {
      visibility: visible; } }

@media (max-width: 767px) {
  .header__navigation {
    visibility: hidden;
    position: absolute; } }

@font-face {
  font-family: "TTNorms";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("TTNorms-Regular.woff2") format("woff2"); }

@font-face {
  font-family: "TTNorms";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("TTNorms-Medium.woff2") format("woff2"); }

@font-face {
  font-family: "TTNorms";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("TTNorms-Bold.woff2") format("woff2"); }

.cases {
  padding-top: 40px; }

.cases__container {
  display: grid;
  grid-template: 57px 198px 198px / 320px 113px 340px 114px 433px;
  gap: 1px;
  background-color: white;
  border-radius: 12px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); }
  @media (max-width: 1320px) {
    .cases__container {
      grid-template: 57px 198px 198px / 300px 90px 315px 90px 403px; } }
  @media (max-width: 1200px) {
    .cases__container {
      grid-template: 57px 198px 198px 198px/repeat(2, 1fr); } }
  @media (max-width: 767px) {
    .cases__container {
      grid-template: 57px repeat(6, 1fr)/1fr;
      align-items: center; } }

.cases__title {
  color: var(--color-accent);
  font-size: 1.4rem;
  line-height: 1.21429;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 20px;
  grid-area: 1 / 1 / 2 / 3;
  background-color: var(--color-bg);
  border-radius: 12px 0 0 0; }
  @media (max-width: 1200px) {
    .cases__title {
      grid-area: 1 / 1 / 2 / 3;
      border-radius: 12px 12px 0 0; } }
  @media (max-width: 767px) {
    .cases__title {
      grid-area: 1 / 1 / 2 / 2; } }

.cases__row-first {
  grid-area: 2 / 1 / 3 / 3;
  padding: 20px;
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  @media (max-width: 1200px) {
    .cases__row-first {
      grid-area: 2 / 1 / 3 / 2; } }
  @media (max-width: 767px) {
    .cases__row-first {
      grid-area: 2 / 1 / 3 / 2;
      height: 100%; } }

.cases__row-second {
  grid-area: 1 / 3 / 3 / 5;
  padding: 20px;
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  @media (max-width: 1200px) {
    .cases__row-second {
      grid-area: 2 / 2 / 3 / 3; } }
  @media (max-width: 767px) {
    .cases__row-second {
      grid-area: 3 / 1 / 4 / 2;
      height: 100%; } }

.cases__row-third {
  grid-area: 1 / 5 / 3 / 6;
  padding: 20px;
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 0 12px 0 0; }
  @media (max-width: 1200px) {
    .cases__row-third {
      grid-area: 3 / 1 / 4 / 2;
      border-radius: 0; } }
  @media (max-width: 767px) {
    .cases__row-third {
      grid-area: 4 / 1 / 5 / 2;
      height: 100%; } }

.cases__row-fourth {
  grid-area: 3 / 1 / 4 / 2;
  padding: 20px;
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 0 0 0 12px; }
  @media (max-width: 1200px) {
    .cases__row-fourth {
      grid-area: 3 / 2 / 4 / 3;
      border-radius: 0; } }
  @media (max-width: 767px) {
    .cases__row-fourth {
      grid-area: 5 / 1 / 6 / 2;
      height: 100%; } }

.cases__row-fifth {
  grid-area: 3 / 2 / 4 / 4;
  padding: 20px;
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  @media (max-width: 1200px) {
    .cases__row-fifth {
      grid-area: 4 / 1 / 5 / 2;
      border-radius: 0 0 0 12px; } }
  @media (max-width: 767px) {
    .cases__row-fifth {
      grid-area: 6 / 1 / 7 / 2;
      border-radius: 0;
      height: 100%; } }

.cases__row-sixth {
  grid-area: 3 / 4 / 4 / 6;
  padding: 20px;
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 0 0 12px 0; }
  @media (max-width: 1200px) {
    .cases__row-sixth {
      grid-area: 4 / 2 / 5 / 3; } }
  @media (max-width: 767px) {
    .cases__row-sixth {
      grid-area: 7 / 1 / 8 / 2;
      border-radius: 0 0 12px 12px;
      height: 100%; } }

.cases__content {
  font-size: 2.4rem;
  line-height: 1.16667;
  color: var(--color-main-soft);
  margin-bottom: 20px;
  background-color: var(--color-bg); }

.cases__company {
  font-size: 1.8rem;
  line-height: 1.44444;
  color: var(--color-text); }

.cards {
  padding-top: 30px; }

.cards__content {
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(4, 1fr); }
  @media (max-width: 1200px) {
    .cards__content {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr); } }
  @media (max-width: 767px) {
    .cards__content {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, 1fr); } }

.cards__title {
  font-size: 1.4rem;
  line-height: 1.21429;
  font-weight: 700;
  color: var(--color-main);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px; }

.cards__image-hillel {
  background-color: #1C4280;
  display: grid;
  justify-items: center;
  align-items: center; }

.cards__image-wannabiz {
  background-color: #143646;
  display: grid;
  justify-items: center;
  align-items: center; }

.cards__image-tapgerine {
  background-color: #F48B30;
  display: grid;
  justify-items: center;
  align-items: center; }

.cards__image-3dlook {
  background-color: #9E4DC3;
  display: grid;
  justify-items: center;
  align-items: center; }

.cards__image-orangear {
  background-color: #FD9339;
  display: grid;
  justify-items: center;
  align-items: center; }

.cards__image-adteligent {
  background-color: #E2E2E4;
  display: grid;
  justify-items: center;
  align-items: center; }

.cards__image-clikky {
  background-color: #C71C36;
  display: grid;
  justify-items: center;
  align-items: center; }

.cards__image-ecoleasing {
  background-color: #DCF3F9;
  display: grid;
  justify-items: center;
  align-items: center; }

.cards__image-infratek {
  background-color: #EAEAEA;
  display: grid;
  justify-items: center;
  align-items: center; }

.cards__image-citypark {
  background-color: #282240;
  display: grid;
  justify-items: center;
  align-items: center; }

.cards__image-artprint {
  background-color: #1D4568;
  display: grid;
  justify-items: center;
  align-items: center; }

.cards__image-ultimare {
  background-color: #000000;
  display: grid;
  justify-items: center;
  align-items: center; }

.cards__image {
  width: 50%; }

.quality {
  padding-top: 80px;
  padding-bottom: 80px; }

.container__quality {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px; }
  @media (max-width: 1200px) {
    .container__quality {
      gap: 20px; } }
  @media (max-width: 767px) {
    .container__quality {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px; } }

.quality__row {
  display: flex;
  align-items: flex-end;
  flex-direction: column; }

.quality__title {
  font-size: 4.2rem;
  line-height: 1.19048;
  font-weight: 700;
  color: var(--color-text);
  padding-right: 40px;
  padding-bottom: 20px;
  border-right: 4px solid var(--color-separator); }
  .quality__title:hover {
    background: var(--gradient-redtext);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-right-color: var(--color-accent); }
  @media (max-width: 1200px) {
    .quality__title {
      font-size: 2.4rem;
      line-height: 1.16667;
      padding-right: 20px; } }
  @media (max-width: 767px) {
    .quality__title {
      font-size: 1.4rem;
      line-height: 1.21429;
      padding-bottom: 0;
      border-right: unset;
      background: var(--gradient-redtext);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
      .quality__title:nth-child(2) {
        display: none; }
      .quality__title:nth-child(3) {
        display: none; }
      .quality__title:nth-child(4) {
        display: none; } }

.quality__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  color: #FFFFFF; }

.quuality__content-title {
  font-size: 3.2rem;
  line-height: 1.18;
  font-weight: 700; }
  @media (max-width: 1200px) {
    .quuality__content-title {
      font-size: 2.2rem; } }

.quality__content-text {
  font-size: 2.1rem;
  line-height: 1.42;
  font-weight: 400; }
  @media (max-width: 1200px) {
    .quality__content-text {
      font-size: 1.8rem;
      line-height: 1.44; } }

.quality__navigation {
  display: none; }
  @media (max-width: 767px) {
    .quality__navigation {
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 50px;
      margin-top: 20px;
      background-color: var(--color-active-regular);
      opacity: 0.2; }
      .quality__navigation:active {
        opacity: 1; } }

.quality__list {
  display: none; }
  @media (max-width: 767px) {
    .quality__list {
      display: flex;
      justify-content: center;
      gap: 14px; } }

.services {
  padding-bottom: 80px;
  position: relative; }
  .services::before {
    content: '';
    display: block;
    width: 98%;
    height: 10px;
    background-color: #CACADB;
    border-radius: 0 0 12px 12px;
    position: absolute;
    bottom: -15px;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  @media (max-width: 767px) {
    .services::before {
      width: 95%; } }

.services__link {
  font-size: 1.4rem;
  line-height: 1.21429;
  color: #FFFFFF;
  opacity: 0.5;
  margin-bottom: 3px;
  display: inline-flex;
  align-items: center;
  gap: 2px; }
  .services__link::after {
    content: '';
    width: 12px;
    height: 12px;
    background-image: url(../img/arrow.svg); }

.services__title {
  margin-bottom: 68px; }
  @media (max-width: 1200px) {
    .services__title {
      margin-bottom: 40px; } }
  @media (max-width: 767px) {
    .services__title {
      margin-bottom: 20px; } }

.services__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 86px; }
  @media (max-width: 1200px) {
    .services__list {
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 60px; } }
  @media (max-width: 767px) {
    .services__list {
      grid-template-columns: 1fr;
      grid-row-gap: 40px; } }

.cards-title {
  font-size: 2.4rem;
  line-height: 1.16667;
  color: var(--color-active-regular);
  margin-bottom: 15px;
  margin-top: 20px; }

.services__cards-content {
  font-size: 1.8rem;
  line-height: 1.44444;
  color: #FFFFFF; }

.team {
  padding-top: 40px;
  padding-bottom: 40px; }

.team_container {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  background-color: var(--color-bg);
  border-radius: 12px;
  margin-bottom: 20px; }
  @media (max-width: 767px) {
    .team_container {
      flex-direction: column;
      padding-left: 20px;
      padding-bottom: 30px;
      position: relative; } }

.team__image {
  width: 413px; }
  @media (max-width: 1200px) {
    .team__image {
      width: 373px; } }
  @media (max-width: 767px) {
    .team__image {
      width: 60px;
      height: 60px;
      border-radius: 120px;
      order: 2;
      position: absolute;
      bottom: 25px; } }

.team__content {
  padding-top: 40px; }
  @media (max-width: 767px) {
    .team__content {
      order: 1; } }

.team__link {
  display: inline-flex;
  align-items: center;
  gap: 5px; }
  .team__link::after {
    content: '';
    width: 12px;
    height: 12px;
    background-image: url(../img/arrowactive.svg); }

.team__title {
  margin-bottom: 20px; }
  @media (max-width: 1200px) {
    .team__title {
      font-size: 3.4rem;
      line-height: 1.18;
      margin-bottom: 15px; } }

.team__title-name {
  font-size: 1.8rem;
  line-height: 1.16667;
  color: var(--color-text);
  margin-bottom: 5px; }
  @media (max-width: 767px) {
    .team__title-name {
      padding-left: 70px; } }

.team__title-profession {
  font-size: 1.6rem;
  line-height: 1.37;
  color: var(--color-text); }
  @media (max-width: 767px) {
    .team__title-profession {
      padding-left: 70px; } }

.team__list {
  display: flex;
  justify-content: center;
  gap: 14px; }

.team__navigation {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  background-color: var(--color-active-regular);
  opacity: 0.2; }
  .team__navigation:active {
    opacity: 1; }

.publications {
  padding-top: 40px;
  background-color: var(--color-bg);
  height: 900px;
  overflow: hidden;
  position: relative; }
  @media (max-width: 767px) {
    .publications {
      height: 100%; } }

.publications__nav {
  width: 100%;
  height: 200px;
  background-image: linear-gradient(180deg, rgba(245, 245, 250, 0) 0%, #F5F5FA 86.5%);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 200px;
  position: absolute;
  bottom: 0; }
  @media (max-width: 767px) {
    .publications__nav {
      background-image: none;
      position: unset; } }

.publications__button {
  font-size: 1.4rem;
  line-height: 1.21429;
  font-weight: 700;
  padding: 16px;
  width: 250px;
  color: #FFFFFF;
  background-color: var(--color-active-regular);
  border-radius: 12px;
  position: absolute;
  bottom: 40px;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.publications__title {
  margin-bottom: 40px; }

.publications__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px; }
  @media (max-width: 767px) {
    .publications__list {
      grid-template-columns: 335px;
      grid-template-rows: 106px repeat(2, 273px);
      justify-content: center;
      gap: 20px; } }

.publication__image {
  width: 100%;
  border-radius: 8px 8px 0 0; }

.publications__item-title {
  font-size: 1.8rem;
  line-height: 1.16667;
  color: var(--color-active-regular);
  margin: 20px 20px 10px; }

.publications__date {
  font-size: 1.2rem;
  line-height: 1.16;
  color: var(--color-text);
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 20px; }
  .publications__date::after {
    content: '';
    display: block;
    margin-top: 20px;
    border: 4px solid var(--color-separator);
    margin-bottom: 20px; }
  @media (max-width: 767px) {
    .publications__date::after {
      visibility: hidden; } }

.publications__item {
  background-color: #FFFFFF;
  border-radius: 8px; }
  @media (max-width: 767px) {
    .publications__item:nth-child(3) {
      display: none; }
    .publications__item:nth-child(5) {
      display: none; }
    .publications__item:nth-child(6) {
      display: none; } }

.publications__content {
  font-size: 1.6rem;
  line-height: 1.37;
  color: #000000;
  margin: 0 20px 20px; }
  @media (max-width: 767px) {
    .publications__content {
      visibility: hidden; } }

.publications__link {
  display: inline-flex;
  align-items: center;
  gap: 2px; }
  .publications__link::after {
    content: '';
    width: 12px;
    height: 12px;
    background-image: url(../img/arrowactive.svg); }

.footer {
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: var(--color-bg); }

.container__footer {
  display: grid;
  grid-template: 1fr 1fr / 2fr 2fr;
  align-items: center;
  row-gap: 20px; }
  @media (max-width: 1200px) {
    .container__footer {
      display: flex;
      flex-direction: column;
      gap: 40px;
      justify-content: center; } }
  @media (max-width: 767px) {
    .container__footer {
      gap: 20px; } }

.footer__contact {
  grid-area: 2 / 1 / 3 / 2; }
  @media (max-width: 767px) {
    .footer__contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px; } }

.footer__adress {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  align-items: center; }
  @media (max-width: 1200px) {
    .footer__adress {
      gap: 15px; } }
  @media (max-width: 767px) {
    .footer__adress {
      flex-direction: column;
      gap: 10px; } }

.footer_text {
  justify-self: end; }
  @media (max-width: 767px) {
    .footer_text {
      justify-self: center; } }

.footer__text-content {
  font-size: 1.6rem;
  line-height: 1.18;
  color: var(--color-text); }

.footer__contact {
  display: flex;
  gap: 10px;
  align-items: center; }
  @media (max-width: 767px) {
    .footer__contact {
      gap: 20px; } }

.footer_tel-link {
  font-size: 1.6rem;
  line-height: 1.18;
  font-weight: 700;
  color: var(--color-main-alt);
  display: inline-flex;
  align-items: center;
  gap: 5px; }
  .footer_tel-link::before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50px;
    background-color: var(--color-text); }
  @media (max-width: 767px) {
    .footer_tel-link::before {
      visibility: hidden; } }

.footer__email {
  font-size: 1.6rem;
  line-height: 1.18;
  font-weight: 700;
  color: var(--color-active-regular);
  display: inline-flex;
  align-items: center;
  gap: 10px; }
  .footer__email::before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50px;
    background-color: var(--color-text); }
  @media (max-width: 767px) {
    .footer__email::before {
      visibility: hidden; } }

.adress__text {
  font-size: 1.6rem;
  line-height: 1.18;
  font-weight: 400;
  color: var(--color-main); }

.adress__link {
  font-size: 1.2rem;
  line-height: 1.16;
  font-weight: 700;
  color: var(--color-active-regular);
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  gap: 10px; }
  .adress__link::before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50px;
    background-color: var(--color-text); }
  @media (max-width: 767px) {
    .adress__link::before {
      visibility: hidden; } }

.header__services {
  color: white;
  padding-bottom: 73px; }

.header__logo {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.logo__name {
  font-size: 3.8rem;
  line-height: 1.18; }
