.footer{
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: var(--color-bg);

}

.container__footer{
    display: grid;
    grid-template: 1fr 1fr / 2fr 2fr;
    align-items: center;
    row-gap:20px;

    @include media-tablet-sm{
        display: flex;
        flex-direction: column;
        gap: 40px;
        justify-content: center;
    }

    @include media-phone{
        gap:20px;
    }
    
}

.footer__contact{
    grid-area: 2 / 1 / 3 / 2;
  

    @include media-phone{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:20px;
    }
}

.footer__adress{
    display: flex;
    justify-content: flex-start;
    gap:30px;
    align-items: center;


    @include media-tablet-sm{
        gap: 15px;
    }

    @include media-phone{
        flex-direction: column;
        gap: 10px;
    }
    
}

.footer_text{
    justify-self: end;

    @include media-phone{
        justify-self: center;
    }

}

.footer__text-content{
    font-size: 1.6rem;
    line-height: 1.18;
    color: var(--color-text);
}

.footer__contact{
    display: flex;
    gap:10px;
    align-items: center;

    @include media-phone{
        gap: 20px;
    }
}


.footer_tel-link{
    font-size: 1.6rem;
    line-height: 1.18;
    font-weight: 700;
    color: var(--color-main-alt);
    display: inline-flex;
    align-items: center;
    gap:5px;

    &::before{
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50px;
        background-color: var(--color-text);
    }

    @include media-phone{
        &::before{
            visibility: hidden;
        }
    }


}

.footer__email{
    font-size: 1.6rem;
    line-height: 1.18;
    font-weight: 700;
    color: var(--color-active-regular);
    display: inline-flex;
    align-items: center;
    gap:10px;
    

    &::before{
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50px;
        background-color: var(--color-text);
    }


    @include media-phone{
        &::before{
            visibility: hidden;
        }
    }
}


.adress__text{
    font-size: 1.6rem;
    line-height: 1.18;
    font-weight: 400;
    color: var(--color-main);
}

.adress__link{
    font-size: 1.2rem;
    line-height: 1.16;
    font-weight: 700;
    color: var(--color-active-regular);
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    gap:10px;
    


    &::before{
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50px;
        background-color: var(--color-text);
    }


    @include media-phone{
        &::before{
            visibility: hidden;
        }
    }
}
