.header__services{
    color: white;
    padding-bottom: 73px;
}

.header__logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo__name{
    font-size: 3.8rem;
    line-height: 1.18;
}

