.hero{
    min-height:100vh;
    background-image: var(--gradient-soft);
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
}


.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;

    @include media-phone{
        flex-direction: column;
        align-items: stretch;
    }
}

.header__logo{

    @include media-phone{
        width: 78px;
        position: absolute;
        margin-top: -30px;
    }
}

.header__content-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    margin-bottom: 16px;

    @include media-phone{
        order: 1;
        margin-bottom:10px;
    }
}

.logo{

    @include media-phone{
        order: 2;
    }
}

.lang{
    display: flex;
}

.lang__input{
    -webkit-appearance: none;
    position: absolute;

    &:checked ~ .lang--txt{
        background-color: var(--color-accent);
        color: white;
    }

}

.lang--txt{
    font-size: 1.2rem;
    line-height: 1.16;
    font-weight: 700;
    display: block;
    padding: 5px 6px;
    border-radius: 8px;

    @include media-phone{
        color: var(--color-text);

    }
}


.header__list{
    display: flex;
    justify-content: flex-end;
    gap:15px;


    @include media-phone{
        flex-direction: column;
        gap:10px;
        margin-top: 20px;
    }
}

.header__link{
    @include text-caption;
}

.header_tel-link{
    font-size: 1.6rem;
    line-height: 1.18;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    gap:5px;

    &::before{
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50px;
        background-color: var(--color-separator);
    }
    @include media-phone{

        color: var(--color-text);

        &::before{
            display: none;
        }
    }
}

.header__fb-link{
    display: inline-flex;
    align-items: center;
    gap:14px;

    &::before{
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50px;
        background-color: var(--color-separator);
    }

    @include media-phone{
        display: none;
    }
}

.header__content-text{
    font-size: 1.6rem;
    line-height: 1.18;
    font-weight: 400;

    @include media-phone{
        display: none;
    }
}


.hero__content{
    display: flex;
    flex-grow: 1;
    background-image:linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%),url('../img/symbolLogo.svg'), url('../img/bg.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 200px, auto, auto;


    @include media-phone{
        background-image:linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%),url('../img/symbolLogo.svg');
    }
}

.hero__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__content-title{
    @include text-title;
    text-align: center;
}

.hero__content-link{
    text-align: center;
}

.hero__content-image{
    position: absolute;
    bottom: 0;
}

.header__menu{
    display: none;

    @include media-phone{
        display: block;
        
    }
}

.header__nav{
    @include media-phone{
        position: relative;
        display: flex;
        justify-content: flex-end;

        &:hover .header__navigation{
            visibility: visible;
        }
    }
}

.header__navigation{

    @include media-phone{
        visibility: hidden;
        position: absolute;
    }
}
