.team{
    padding-top: 40px;
    padding-bottom: 40px;
}


.team_container{
    display: flex;
    justify-content: flex-start;
    gap:40px;
    background-color: var(--color-bg);
    border-radius: 12px;
    margin-bottom: 20px;

    @include media-phone{
        flex-direction: column;
        padding-left: 20px;
        padding-bottom: 30px;
        position: relative;
    }
   
}

.team__image{
    width: 413px;

    @include media-tablet-sm{
       width: 373px;
    }

    @include media-phone{
        width: 60px;
        height: 60px;
        border-radius: 120px;
        order: 2;
        position: absolute;
        bottom: 25px;
    }
}


.team__content{
    padding-top: 40px;

    @include media-phone{
        order: 1;
    }
}

.team__link{
    display: inline-flex;
    align-items: center;
    gap:5px;
    
    &::after{
        content: '';
        width: 12px;
        height: 12px;
        background-image: url(../img/arrowactive.svg);
    }
}

.team__title{
    margin-bottom: 20px;

    @include media-tablet-sm{
        font-size: 3.4rem;
        line-height: 1.18;
        margin-bottom: 15px;
    }
}

.team__title-name{
    @include text-caption;
    color: var(--color-text);
    margin-bottom: 5px;

    @include media-phone{
        padding-left: 70px;
    }
}

.team__title-profession{
    font-size: 1.6rem;
    line-height: 1.37;
    color: var(--color-text) ;

    @include media-phone{
        padding-left: 70px;
    }
}


.team__list{
    display: flex;
    justify-content: center;
    gap:14px;

}

.team__navigation{
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    background-color: var(--color-active-regular);
    opacity: 0.2;

    &:active{
        opacity: 1;
    }
}
